# Dependencies
node_modules/
.pnpm-store/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
